<a href="https://colab.research.google.com/github/JaviLaura/Calculating_Std_Deviation/blob/main/Calculating_Standard_Deviation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<img src="https://static.junilearning.com/images/juni_logo.png" height=75 align=center hspace="5px"> **DS6 Project 1: Calculating Standard Deviation**

Create a DataFrame from the Height and Weight CSV file here: https://static.junilearning.com/python_data_science/height_and_weight.csv

In [ ]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import math
import numpy as np

In [ ]:
HWdf = pd.read_csv("https://static.junilearning.com/python_data_science/height_and_weight.csv")
display(HWdf)

         Height    Weight
0      65.78331  112.9925
1      71.51521  136.4873
2      69.39874  153.0269
3      68.21660  142.3354
4      67.78781  144.2971
...         ...       ...
21838  69.76603  127.3629
21839  68.24223  124.3347
21840  68.84887  136.3807
21841  67.04484  127.0678
21842  70.93046  126.9017

[21843 rows x 2 columns]

**Part 1: Calculate Standard Deviation** 

Write a function `std()` that takes in a DataFrame and the name of a column, and returns the standard deviation of all the data in that column. 

Test your function on the `Height` and `Weight` columns. Compare your answers to what pandas generates when you call `df.std()`

![picture](https://sohcahtoa.org.uk/oldblog/images/standarddeviationstandardalgorithm.png)

In [ ]:
#Define a function that calculates the standard deviation with the formula in Project 1: Calculating Standard Deviation.
HWdf.std()

Height     1.899417
Weight    11.667969
dtype: float64

In [ ]:
print(HWdf.loc[:,"Height"].std())
print(HWdf.loc[:,"Weight"].std())

1.899417311598271
11.66796860414634

In [ ]:
meanHeight = HWdf["Height"].mean()
meanWeight = HWdf["Weight"].mean()

print(meanHeight)
print(meanWeight)

67.98766323215676
127.08980353889118

In [ ]:
def std(df,colName):
  x_bar = df[colName].mean()
  sum = 0
  n = df[colName].count()
  for measurement in df[colName]:
    sum += (measurement - x_bar) ** 2
  
  return math.sqrt(sum/(n-1))


print(std(HWdf,"Height"))
print(std(HWdf,"Weight"))

1.8994173115982695
11.667968604146285

**Part 2: Calculate Percent Values**

Write a function `percentage()` that calculates the percentage of values in a distribution that fall between lower and upper bound.

Then test your function and ensure that roughly 68% falls within 1 standard deviation of the mean, 96% falls within 2 standard deviations, and 99.7 falls within 3 standard deviations.

In [ ]:
def percentage(df,colName,low,high):
  inRange = df[(df[colName]<high) & (df[colName]>low)]
  ratio = (inRange[colName].count())/(df[colName].count())
  percent = ratio * 100
  return str(round(ratio * 100,3)) + "%"

mean = HWdf["Height"].mean()
std = HWdf["Height"].std()

lowBound = mean - (2 * std)
highBound = mean + (2 * std)
#Replace num for as many std you want
print(percentage(HWdf,"Height",lowBound,highBound))

95.486%

In [ ]:
#Conditionals
df = pd.read_csv("https://static.junilearning.com/python_data_science/tips.csv")
display(df)

     total_bill   tip     sex   day
0         16.99  1.01  Female   Sun
1         10.34  1.66    Male   Sun
2         21.01  3.50    Male   Sun
3         23.68  3.31    Male   Sun
4         24.59  3.61  Female   Sun
..          ...   ...     ...   ...
239       29.03  5.92    Male   Sat
240       27.18  2.00  Female   Sat
241       22.67  2.00    Male   Sat
242       17.82  1.75    Male   Sat
243       18.78  3.00  Female  Thur

[244 rows x 4 columns]

In [ ]:
df[df["tip"]<2]

     total_bill   tip     sex   day
0         16.99  1.01  Female   Sun
1         10.34  1.66    Male   Sun
8         15.04  1.96    Male   Sun
10        10.27  1.71    Male   Sun
12        15.42  1.57    Male   Sun
16        10.33  1.67  Female   Sun
30         9.55  1.45    Male   Sat
43         9.68  1.32    Male   Sun
53         9.94  1.56    Male   Sun
57        26.41  1.50  Female   Sat
58        11.24  1.76    Male   Sat
62        11.02  1.98    Male   Sat
67         3.07  1.00  Female   Sat
70        12.02  1.97    Male   Sat
75        10.51  1.25    Male   Sat
82        10.07  1.83  Female  Thur
92         5.75  1.00  Female   Fri
97        12.03  1.50    Male   Fri
99        12.46  1.50    Male   Fri
105       15.36  1.64    Male   Sat
111        7.25  1.00  Female   Sat
117       10.65  1.50  Female  Thur
118       12.43  1.80  Female  Thur
121       13.42  1.68  Female  Thur
126        8.52  1.48    Male  Thur
130       19.08  1.50    Male  Thur
132       11.17  1.50  Female  Thur
135        8.51  1.25  Female  Thur
145        8.35  1.50  Female  Thur
146       18.64  1.36  Female  Thur
147       11.87  1.63  Female  Thur
148        9.78  1.73    Male  Thur
168       10.59  1.61  Female   Sat
190       15.69  1.50    Male   Sun
195        7.56  1.44    Male  Thur
215       12.90  1.10  Female   Sat
217       11.59  1.50    Male   Sat
218        7.74  1.44    Male   Sat
222        8.58  1.92    Male   Fri
224       13.42  1.58    Male   Fri
233       10.77  1.47    Male   Sat
235       10.07  1.25    Male   Sat
236       12.60  1.00    Male   Sat
237       32.83  1.17    Male   Sat
242       17.82  1.75    Male   Sat

In [ ]:
df[(df["tip"]<2) & (df["day"] == "Sun")]

     total_bill   tip     sex  day
0         16.99  1.01  Female  Sun
1         10.34  1.66    Male  Sun
8         15.04  1.96    Male  Sun
10        10.27  1.71    Male  Sun
12        15.42  1.57    Male  Sun
16        10.33  1.67  Female  Sun
43         9.68  1.32    Male  Sun
53         9.94  1.56    Male  Sun
190       15.69  1.50    Male  Sun